* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }


body {
    background-color: hwb(0 71% 29%);
    max-width: 100%;
}



.login {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
   
}

.login h1, .register-inner h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.login-inner,  .register-inner{
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);


}

.login-form  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input , .register-form input{
    padding: 10px;
    outline: none;
    border: .5px solid black;
    border-radius: 5px;
}

.separator {
    width: 100%;         
    height: .5px;        
    background-color: gray; 
    margin: 20px 0px;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    background-color: black;
    width: 60%;
    margin: 0 auto;           
    margin-top: 20px;

  
    
  }


  p {
    margin-top: 20px;
    font-size: 15px;

  }



  .register {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    margin: 30px;
    
   

  }

  .register-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register-form p {
    gap: 5px;

}

.dropdown {
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content .nav-item {
  padding: 8px 16px;
  display: block;
}

.dropdown-content .nav-link {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  z-index: 999;
}

.dropdown-content .nav-link:hover {
  background-color: #c7c2c2;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.navbar-brand {
  font-size: 20px;
  margin-top: 20px;
 
}

.header-nav{
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.dropbtn{
  margin-bottom: 18px;
}

.log-btn{
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  color: black;
}


.platform-info {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 10px;
  border: none;
}

.intro-header {
  color: rgb(60, 135, 115);
}

h2 , h3 {
  color: rgb(60, 135, 115);


}
strong {
  color: rgb(95, 116, 120);
}

li {
  list-style: none;
}

.email {
  color: rgb(60, 135, 115);
  cursor: pointer;
  
}

.resource-list {
  background-color: white;
  padding: 10px;
  border-radius: 5px;

}
 

.resource-list h2 {

  text-align: center;
}


.alerts {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.alerts h2 {
  text-align: center;
}

.alerts li {
  padding: 15px;
  list-style: none;

}


.alerts li a{
  background: rgb(48, 88, 183);
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  

  
}

.contact {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.contact h1 {
  text-align: center;
}










