{% extends 'App/base.html' %}

{% block title %}Change password{% endblock title %}

{% block content %}
<h2>Update user</h2>

<div class="row">
    <div class="col-md-3">
        {% include 'containers/_sideNavBar.html' %}
    </div>
    <div class="col-md-9">
        <form method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">Old Password</label>
                    {{form.old_password}}
                </div>

                <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">New Password</label>
                    {{form.new_password1}}
                </div>
                <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">Confirm new password</label>
                    {{form.new_password2}}
                </div>
            </div>

            <button type="submit" class="btn brn-lg btn-success mt-3">change Password</button>
        </form>
    </div>
</div>
{% endblock content %}