{% extends 'App/base.html' %}

<link rel="stylesheet" href="../../static/css/styles.css">

{% block content %}
<div class="alerts">
    <h2>Latest Alerts</h2>
    <ul>
        {% for alert in alerts %}
        <li>
            <a href="{% url 'alert_detail' alert.pk %}">{{ alert.title }}</a>
            - {{ alert.location }}
            - {{ alert.date_created|date:"F d, Y H:i" }} {# Format date as desired #}
        </li>
        {% empty %}
        <li>No alerts available.</li>
        {% endfor %}
    </ul>

    <div style="margin-top: 20px;">
        <a href="{% url 'alert_create' %}" class="btn btn-primary">Create New Alert</a>
    </div>
</div>
{% endblock %}