{% extends 'App/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{{ user.username }}'s Profile</h2><hr><br>

    <div class="row">
        <div class="col-md-6">
            <h5>Basic Information</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Username:</strong> {{ user.username }}
                </li>
                <li class="list-group-item">
                    <strong>First Name:</strong> {{ user.first_name }}
                </li>
                <li class="list-group-item">
                    <strong>Last Name:</strong> {{ user.last_name }}
                </li>
                <li class="list-group-item">
                    <strong>Email:</strong> {{ user.email }}
                </li>
                <!-- <li class="list-group-item">
                    <strong>Is Active:</strong> {% if user.is_active %} Yes {% else %} No {% endif %}
                </li> -->
                <!-- <li class="list-group-item">
                    <strong>Date Joined:</strong> {{ user.date_joined }}
                </li> -->
                <!-- </ul> -->
                <!-- </div>

        <div class="col-md-6"> -->
                <!-- <h5>Profile Details</h5> -->
                <!-- <ul class="list-group"> -->
                <li class="list-group-item">
                    <strong>Phone Number:</strong> {{ user.profile.phoneNumber }}
                </li>
                {% if user.profile.location %}
                <li class="list-group-item">
                    <strong>Location:</strong> {{ user.profile.location }}
                </li>
                {% endif %}
                <!-- <li class="list-group-item">
                    <strong>Last Login:</strong> {{ user.last_login }}
                </li> -->
                {% if user.is_superuser %}
                <li class="list-group-item">
                    <strong>Superuser:</strong> Yes
                </li>
                {% endif %}
                {% if user.is_staff %}
                <li class="list-group-item">
                    <strong>Staff Member:</strong> Yes
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="mt-4">
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        <a href="{% url 'password_change' %}" class="btn btn-warning">Change Password</a>
    </div>
</div>

{% endblock %}